# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- list popular DS languages 
- list popular DS libraries 
- create a Jupyter Notebook

Some of the popular languages that Data Scientists use are:

1. Python
2. C++
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. TensorFlow
3. Bob

|Data Science Tools|
|:--------------:|
| Apache Hadoop |
| Jupyter Notebook|
| Apache Spark|
| TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [4]:
200/60

3.3333333333333335

## Author

Jennifer Deason